:root {
	--dark: #283649;
	--light: #9c7843;
	--white: #ffffff;
	--black: #000000;
}

.loading {
	color: var(--white);
}

main {
	display: grid;
	grid-template-columns: 1fr 2fr;
	text-align: justify;
	hyphens: auto;
	max-width: 60rem;
	margin: auto;

	> * {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	> :nth-child(-n + 2) {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.photo {
	background-color: var(--dark);

	img {
		width: 100%;
		border-radius: 50%;
	}
}

.contact-list {
	li {
		padding: 5px 0 5px 0;
		border-bottom: 1px solid var(--light);
		margin-right: -2.5rem;
	}

	li:last-child {
		border-bottom: none;
	}

	li::marker {
		color: var(--light);
	}

	.location {
		list-style-image: url("icons/location.svg");
	}
	
	.phone {
		list-style-image: url("icons/phone.svg");
	}
	
	.mail {
		list-style-image: url("icons/mail.svg");
	}
}

.section-header {
	font-family: var(--condensed-font);
	font-size: 1.17em;
	text-transform: uppercase;
	border-bottom: 1px solid;
	margin: 0 -2.5rem 0 0;
}

.section-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-info {
	background-color: var(--white);
	color: var(--black);
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	> * {
		flex: 0 0 33.33%;
	}

	.title {
		font-family: var(--condensed-font);
		font-weight: bold;
		color: var(--dark);
		font-size: 2.5em;
		margin: 0;
	}

	h1 {
		font-family: var(--condensed-font);
		font-weight: bold;
		text-transform: uppercase;
		color: var(--dark);
		font-size: 2.5em;
		margin: 0;
	}

	.position {
		font-family: var(--condensed-font);
		font-weight: bold;
		text-transform: uppercase;
		color: var(--light);
		font-size: 1.5em;
		margin: 0;
	}
}

.timelines {
	background-color: var(--white);
	color: var(--black);
}

.additional-info {
	background-color: var(--dark);
	color: var(--white);

	.section-header {
		color: var(--light);
		border-bottom-color: var(--white);
	}
}

.connect {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	a {
		color: var(--white);
	}

	a::before {
		padding-right: 0.5rem;
	}

	.github::before {
		content: url("icons/github.svg");
	}
	
	.linkedin::before {
		content: url("icons/linkedin.svg");
	}
}

.skill {
	margin-top: 10px;
	margin-bottom: 10px;

	strong {
		text-transform: uppercase;
		font-weight: normal;
	}
}

.progress-bar {
	width: 100%;
	height: 5px;
	background-color: var(--white);
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background-color: var(--light);
}

.timeline {
	display: grid;
	grid-template-columns: 1fr 2fr;

	> * {
		padding-bottom: 20px;
	}
}

.left {
	padding-right: 20px;
	border-right: 1px solid var(--light);;
	text-align: right;
	position: relative;

	strong {
		text-transform: uppercase;
	}
}

.left::after {
	content: "";
	position: absolute;
	top: 7px;
	right: -0.5px;
	width: 14px;
	height: 14px;
	background-color: var(--light);
	border-radius: 50%;
	transform: translate(50%, -50%);
}

.right {
	padding-left: 20px;
}

@media (max-width: 80rem) {
	main {
		grid-template-columns: 1fr;
	}

	.photo {
		background-color: var(--dark);
	}

	.main-info {
		background-color: var(--dark);
		color: var(--white);
	}

	.main-info h1 {
		color: var(--white);
	}

	.main-info .title {
		color: var(--white);
	}

	.main-info .position {
		color: var(--light);
	}

	.additional-info {
		background-color: var(--dark);
		color: var(--white);
	}

	.additional-info .section-header {
		color: var(--light);
		border-bottom-color: var(--white);
	}

	.additional-info a {
		color: var(--white);
	}

	.timelines {
		background-color: var(--dark);
		color: var(--white);
	}

	.timelines .section-header {
		color: var(--light);
		border-bottom-color: var(--white);
	}

	.contact-list {
		color: var(--white);
	}

	.contact-list li {
		margin-right: 0;
	}

	.progress-bar {
		background-color: var(--white);
	}

	.section-header {
		margin: 0;
	}
}