.loading {
	color: var(--white);
}

main {
	max-width: 60rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	text-align: justify;
	hyphens: auto;

	> * {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	> :nth-child(-n + 2) {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	> :nth-child(2n + 1) {
		color: var(--white);
		background-color: var(--dark);

		a {
			color: var(--white);
		}

		.section-header {
			color: var(--light);
			border-bottom-color: var(--white);
		}
	}

	> :nth-child(2n) {
		color: var(--black);
		background-color: var(--white);

		a {
			color: var(--black);
		}

		.section-header {
			color: var(--black);
			border-bottom-color: var(--black);
		}
	}

	:focus {
		outline: var(--light) solid;
	}
}

.photo img {
	width: 100%;
	border-radius: 50%;
}

.contact-list {
	li {
		padding: 5px 0 5px 0;
		border-bottom: 1px solid var(--light);
		margin-right: -2.5rem;
	}

	li:last-child {
		border-bottom: none;
	}

	li::marker {
		color: var(--light);
	}

	.location {
		list-style-image: url("icons/location.svg");
	}
	
	.phone {
		list-style-image: url("icons/phone.svg");
	}
	
	.mail {
		list-style-image: url("icons/mail.svg");
	}
}

section {
	margin-bottom: 20px;
}

.section-header {
	font-family: var(--condensed-font);
	font-size: 1.17em;
	text-transform: uppercase;
	border-bottom: 1px solid;
	margin: 0 -2.5rem 20px 0;
}

.main-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> * {
		flex: 0 0 33.33%;
	}
}

.title, h1 {
	font-family: var(--condensed-font);
	font-weight: bold;
	color: var(--dark);
	font-size: 2.5em;
}

h1 {
	text-transform: uppercase;
}

.position {
	font-family: var(--condensed-font);
	font-weight: bold;
	text-transform: uppercase;
	color: var(--light);
	font-size: 1.5em;
}

.additional-info {
	display: flex;
	flex-direction: column;
}

.connect {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	a::before {
		padding-right: 0.5rem;
	}

	.github::before {
		content: url("icons/github.svg");
	}
	
	.linkedin::before {
		content: url("icons/linkedin.svg");
	}
}

.timeline {
	display: grid;
	grid-template-columns: 1fr 2fr;

	> * {
		padding-bottom: 20px;
	}

	> :nth-child(2n) {
		padding-left: 20px;
	}

	> :nth-child(2n + 1) {
		padding-right: 20px;
		border-right: 1px solid var(--light);
		text-align: right;
		position: relative;

		strong {
			text-transform: uppercase;
		}
	}

	> :nth-child(2n + 1)::after {
		content: "";
		position: absolute;
		top: 7px;
		right: -0.5px;
		width: 14px;
		height: 14px;
		background-color: var(--light);
		border-radius: 50%;
		transform: translate(50%, -50%);
	}

	.badge-list {
		margin-top: 8px;
		justify-content: end;
	}
}

.badge-list {
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}

.badge-list > * {
	background-color: var(--light);
	color: var(--white);
	border-radius: 0.5em;
	text-align: center;
	padding: 3px 5px;
	font-size: small;
}

.cv-gen {
	margin-top: auto;

	form {
		display: flex;
		flex-direction: row;
		gap: 10px;
	
		input {
			flex-grow: 1;
			padding: 6px 10px;
			border-radius: 0.5em;
			border: none;
		}
	
		button {
			padding: 6px 10px;
			border-radius: 0.5em;
			border: none;
			color: var(--black);
			background-color: var(--light);
			cursor: pointer;
		}
	
		button:hover {
			outline: var(--light) solid
		}
	}
}

@media screen and (max-width: 80rem) {
	main {
		grid-template-columns: 1fr;
	}

	main > :nth-child(n) {
		color: var(--white);
		background-color: var(--dark);
	}

	main > :nth-child(n) .section-header {
		color: var(--light);
		border-bottom-color: var(--white);
	}

	.title, h1 {
		color: var(--white);
	}

	.contact-list li {
		margin-right: 0;
	}

	.section-header {
		margin-right: 0;
	}
}

@media print {
	main {
		max-width: none;
	}

	.cv-gen
	{
		display: none !important;
	}
}
